$nav-back: rgb(252, 246, 246);
$nav-fore: rgb(20, 6, 6);
$app-li-fw-hover: bold;
$app-li-hovercolor: red;

.nav-container {
    margin-top: .5em;
    margin-left: 1.5em;
    padding-top: .2em;
}

.mobile-title {
    margin-left: 1.5em;
    font-weight: bold;
}

.hide-mobile {
    display: none; 
}

.menu {
    width: 5%;
    height: 5%;
}

.exit-btn {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
}

nav {
    ul {
        position: fixed;
        list-style-type: none;
        width: 60%;
        top: 0;
        right: 0;
        text-align: left;
        background: rgb(36,41,44);
        height: 100%;
        z-index: 7;
        padding-top: 3em;

        li a {
            color: white;
            text-decoration: none;
            display: block;
            width: 100%;
            padding: 1em 2em;
            background-color: rgb(52, 59, 60);
        }

        li a:hover {
            background-color: rgb(65, 73,78);
        }

        li a img {
            display: none;
        }
    }
}

@media(min-width: 900px) {
    .hide-desktop {
        display: none;
    }

    .show-desktop {
        display: flex;
    }

    nav ul {
        position: inherit;
        width: inherit;
        background: $nav-back;
        height: auto;
        display: flex;
        padding-top: 0;
        justify-content: space-between;

        li a {
            color: $nav-fore;
            font-weight: bold;
            font-size: 155%;
            text-decoration: none;
            display: block;
            width: 100%;
            padding: 1em 2em;
            background-color: inherit;
        }

        li a:hover {
            background-color: inherit;
            color: red;
        }

        li a img {
            display: inline;
        }
    }
}