@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito&display=swap');

$font: 'Nunito';

.mp3-table {
    font-family: $font;
    font-size: small;
    background-color: white;
    padding: 1em;
}